@model Generic.Features.BasicPage.BasicPageViewModel
<vc:breadcrumbs include-default-breadcrumb="true" nodeid="-1" />
@{ 
    var secondaryNavProps = new SecondaryNavigationProperties()
    {
        Path = Model.Page.Path,
        Level = 2,
        LevelIsRelative = true,
        MinimumAbsoluteLevel = 2,
        CssClass = "SecondaryNav",
        IncludeSecondaryNavSelector = true
    };
}
<div class="row">
    <div class="col-sm-3">
        <vc:secondary-navigation navigation-properties=secondaryNavProps />
    </div>
    <div class="col-sm-9">
        <editable-area area-identifier="main" />
        <hr/>
        <editable-area area-identifier="testing" widget-sets="@(new string[] {SiteWidgetSets.TESTING})" />
        <hr/>
        <editable-area area-identifier="testing2" widget-sets="@(new string[] {SiteWidgetSets.TESTING})" include-general-widgets=false />
        <hr/>
        <editable-area area-identifier="testing3" widget-sets="@(new string[] {SiteWidgetSets.TESTING2})" include-general-widgets=false />
        
    </div>
</div>


