@model string
@*
    Need this view often as the cookie may not be set properly and the return url may not authenticate
    
*@
@{ 
    Layout = null;
}
<html>
<head>
    <meta http-equiv="refresh" content="1;url=@Model" />
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting...</p>
</body>
</html>