@model  Generic.Features.ShareableContent.ShareableContentViewModel
<page-builder-mode include="Edit">
    <div class="container" style="margin-top:30px;">
        <editable-area area-identifier="ShareableContentZone" />
    </div>
</page-builder-mode>
<page-builder-mode exclude="Edit">
    <editable-area area-identifier="ShareableContentZone" />
</page-builder-mode>
