@model Generic.Models.ShareableContentWidgetComponentViewModel
@if (Model.DocumentID > 0)
{
    <inlinewidgetpage documentid="Model.DocumentID">
        <containered container-model="Model.WidgetProperties">
            <vc:shareable-content />
        </containered>
    </inlinewidgetpage>
} else
{
    <p>Please select a Shareable Content Page</p>
}
