
@{
    ViewBag.Title = "Check Your Email";
}

<h1>Email Verification</h1>
<p>Your account has been created.  In order to activate your account, please check your email and click the account verification link.</p>

