@{
    ViewBag.Title = "ForgottenPasswordResetSuccessful";
}
<div class="container">
    <h1>Successful</h1>
    <p>Your password has successfully been reset.  Please proceed to <a href="@Url.Action("SignIn")">Log in</a>.</p>
</div>


