@{
    ViewBag.Title = "ForgotPasswordSent";
}

    <div class="container">   
        <h1 class="text-center pt-4 pb-2">Reset Link Sent</h1>
        <p>And email was sent to this address with the password reset link, please click this link and follow the instructions to reset your password.</p>
    </div>