@{
    ViewBag.Title = "ForgottenPasswordResetFailure";
}

    <div class="container">
        <h1>Failure</h1>
        <p>Password reset failure.  Please validate your token and user identity.  <a href="@Url.Action("ForgotPassword")">Try Again</a></p>
    </div>
