<page-builder-mode include="Edit">
    <div style="margin-top: 50px;">
        <editable-area area-identifier="main" area-options-allowed-widgets="@await UserWidgetProvider.GetUserAllowedWidgetsAsync()" />
    </div>
</page-builder-mode>
<page-builder-mode exclude="Edit">
    <editable-area area-identifier="main" area-options-allowed-widgets="@await UserWidgetProvider.GetUserAllowedWidgetsAsync()" />
</page-builder-mode>
