@model Account.Features.Account.ResetPassword.ResetPasswordViewModel
@if (Model.Succeeded.HasValue)
{
    if (Model.Succeeded.Value)
    {
        <div class="container">
            <h1 class="text-center pt-4 pb-2">Successful</h1>
            <p>Your password has successfully been reset.</p>
        </div>
    }
    else
    {
        <div class="container">
            <h1 class="text-center pt-4 pb-2">Error</h1>
            <p>An error occurred while resetting: @Model.Error</p>
        </div>
    }
}
else
{
    <form asp-controller="ResetPassword" asp-action="ResetPassword" method="POST" asp-antiforgery="true">
        <div class="container">
            <page-data-context initialized="false">
                <h1>Reset Password</h1>
            </page-data-context>
            <page-data-context initialized="true">
                <page-data />
                <editable-area area-identifier="main" />
            </page-data-context>
            <div asp-validation-summary="All" class="alert alert-danger text-danger col-12" role="alert"></div>
            <div class="form-horizontal UserRegistrationForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=CurrentPassword></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=CurrentPassword class="form-control" />
                                <span asp-validation-for=CurrentPassword class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=Password></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=Password class="form-control" />
                                <span asp-validation-for=Password class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=PasswordConfirm></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=PasswordConfirm class="form-control" />
                                <span asp-validation-for=PasswordConfirm class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset Password" class="btn btn-primary btn-theme" />
                    </div>
                </div>
            </div>
        </div>
    </form>
}
