@model Generic.Features.Header.HeaderViewModel
    <page-data-context initialized="true">
        <page-builder-mode include="Edit">
            <div style="margin-top: 50px;">
                <editable-area area-identifier="main" area-options-allowed-widgets="@await UserWidgetProvider.GetUserAllowedWidgetsAsync()" />
            </div>
        </page-builder-mode>
        <page-builder-mode exclude="Edit">
            <editable-area area-identifier="main" area-options-allowed-widgets="@await UserWidgetProvider.GetUserAllowedWidgetsAsync()" />
        </page-builder-mode>
    </page-data-context>
    <page-data-context initialized="false">
        <vc:configuration-helper mode="@ConfigurationHelperMode.Inline" instructions="<strong>Could not find page at /MasterPage/Header</strong><br/>Please create a folder 'MasterPage' and under it add a Header page with name 'Header'." needs-attention="true" />
    </page-data-context>