@model Navigation.Models.NavigationItem
<li navitem-class navitem-references navigation-item="Model">
    <a navitem-link navigation-item="Model">@Html.Raw(Model.LinkText)</a>
    @if (Model.Children.Count > 0)
    {
        <ul>
            @foreach (var ChildItem in Model.Children)
            {
                <partial name="~/Components/Navigation/MainNavigation/MainNavigationDropdownItem.cshtml" for="@ChildItem" />
            }
        </ul>
    }
</li>