{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",

  "ConnectionStrings": {
    "CMSConnectionString": ""
  },
  "CMSHashStringSalt": "",
  "CustomAdminUrl":  "http://admin.kentico13baseline.hbstest.net/admin"
}
