<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore>
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="PRODUCTION" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
    <!-- This will prevent admin url length errors on production -->
    <system.web xdt:Transform="Insert">
      <httpRuntime maxUrlLength="4096" relaxedUrlToFileSystemMapping="true"/>
    </system.web>
  </location>
</configuration>