@model Kentico.Content.Web.Mvc.Routing.IPageViewModel<GenericPage>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
    <vc:page-meta-data />
    <vc:breadcrumbs-json include-default-breadcrumb="true" nodeid="@Model.Page.NodeID" />
}
<vc:breadcrumbs include-default-breadcrumb="true" nodeid="@Model.Page.NodeID" />


<div class="row">
    <div class="col-sm-3">
        <vc:secondary-navigation node-alias-path="@Model.Page.NodeAliasPath" level="2" level-is-relative="true" minimum-absolute-level="2" css-class="SecondaryNav" />
    </div>
    <div class="col-sm-9">
        <editable-area area-identifier="main" area-options-allowed-widgets="@await UserWidgetProvider.GetUserAllowedWidgetsAsync()" />
    </div>
</div>


