@using Generic.InlineEditors
@model ImageUploaderEditorViewModel

@{
    string GetContainerClass()
    {
        if (Model.HasImage)
        {
            return "uploader-container";
        }

        return Model.UseAbsolutePosition ? "uploader-empty-container absolute" : "uploader-empty-container";
    }

    string GetMessagePositionClass()
    {
        switch (Model.MessagePosition)
        {
            case PanelPositionEnum.Bottom:
                return "bottom";

            case PanelPositionEnum.Top:
                return "top";

            default:
                return "center";
        }
    }
}

@using (Html.Kentico().BeginInlineEditor("image-uploader-editor",
                                       Model.PropertyName,
                                       new
                                       {
                                           @class = "image-uploader-editor",
                                           data_url = Model.DataUrl,
                                           data_file_type = Model.ImageType == ImageTypeEnum.MediaFile ? "media" : "attachment"
                                       }
                                       )
     )
{
    <div class="@GetContainerClass()">
        <div class="uploader">
            <div class="dz-message @GetMessagePositionClass()">
                <i class="icon-arrow-up-line"></i>
                <div>
                    @(Model.ImageType == ImageTypeEnum.MediaFile ?
                        HtmlLocalizer["Drop image to <a class=\"dz-clickable\">upload</a> or <a class=\"dialog-link\">browse</a> media library"] :
                        HtmlLocalizer["Drop image here or <a class=\"dz-clickable\">click</a> to browse"]
                     )
                </div>
            </div>
        </div>
    </div>
}
