@model Account.Features.Account.ForgottenPasswordReset.ForgottenPasswordResetViewModel
@if (Model.Succeeded.HasValue)
{
    if (Model.Succeeded.Value)
    {
        <div class="container">
            <h1>Successful</h1>
            <p>Your password has successfully been reset.  You may <a href="@Model.LoginUrl">Log in</a>.</p>
        </div>
    }
    else
    {
        <div class="container">
            <h1>Failure</h1>
            <p>Password reset failure.  Please validate your token and user identity. and Try again.</p>
        </div>
    }
}
else
{
    <form asp-controller="ForgottenPasswordReset" asp-action="ForgottenPasswordReset" method="POST" asp-antiforgery="true">

        <div class="container">
            <page-data-context initialized="false">
                <h1>Reset Forgotten Password</h1>
            </page-data-context>
            <page-data-context initialized="true">
                <page-data />
                <editable-area area-identifier="main" />
            </page-data-context>
            <div asp-validation-summary="All" class="alert alert-danger text-danger col-12" role="alert"></div>

            <div class="form-horizontal UserRegistrationForm">
                <input type="hidden" asp-for=UserID value="@Model.UserID" />
                <span asp-validation-for=UserID class="text-danger"></span>

                <input type="hidden" asp-for=Token value="@Model.Token" />
                <span asp-validation-for=Token class="text-danger"></span>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=Password></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=Password class="form-control" />
                                <span asp-validation-for=Password class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=PasswordConfirm></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=PasswordConfirm class="form-control" />
                                <span asp-validation-for=PasswordConfirm class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset Password" class="btn btn-primary btn-theme" />
                    </div>
                </div>
            </div>
        </div>
    </form>
}