@model BaselineSiteElements.Features.BasicPage.BasicPageViewModel
<vc:breadcrumbs include-default-breadcrumb="true" nodeid="-1" />
@{ 
    var secondaryNavProps = new SecondaryNavigationProperties()
    {
        Path = Model.Page.Path,
        Level = 2,
        LevelIsRelative = true,
        MinimumAbsoluteLevel = 2,
        CssClass = "SecondaryNav",
        IncludeSecondaryNavSelector = true
    };
}
<div class="row">
    <div class="col-sm-3">
        <vc:secondary-navigation navigation-properties=secondaryNavProps />
    </div>
    <div class="col-sm-9">
        <editable-area area-identifier="main" />
    </div>
</div>


