@model Account.Features.Account.Registration.RegistrationViewModel
@if (Model.RegistrationSuccessful.HasValue)
{
    if (Model.RegistrationSuccessful.Value)
    {
        <div class="container">
            <h1>Email Verification</h1>
            <p>Your account has been created.  In order to activate your account, please check your email and click the account verification link.</p>
        </div>
    }
    else
    {
        <div class="container">

            <h1>Error Sending Registration Request</h1>
            <p>The following error occurred: @Model.RegistrationFailureMessage</p>
        </div>
    }
}
else
{
    <div class="container">
        <form asp-controller="Registration" asp-action="Registration" method="POST" asp-antiforgery="true">
            <page-data-context initialized="false">
                <h1>Create Account</h1>
            </page-data-context>
            <page-data-context initialized="true">
                <page-data />
                <editable-area area-identifier="main" />
            </page-data-context>
            <div asp-validation-summary="All" class="alert alert-danger text-danger col-12" role="alert"></div>

            <div class="form-horizontal UserRegistrationForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=User.FirstName></label>
                            <div class="col-md-10">
                                <input type="text" asp-for=User.FirstName class="form-control" />
                                <span asp-validation-for=User.FirstName class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=User.LastName></label>
                            <div class="col-md-10">
                                <input type="text" asp-for=User.LastName class="form-control" />
                                <span asp-validation-for=User.LastName class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=User.UserName></label>
                            <div class="col-md-10">
                                <input type="text" asp-for=User.UserName class="form-control" />
                                <span asp-validation-for=User.UserName class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=User.UserEmail></label>
                            <div class="col-md-10">
                                <input type="email" asp-for=User.UserEmail class="form-control" />
                                <span asp-validation-for=User.UserEmail class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=Password></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=Password class="form-control" />
                                <span asp-validation-for=Password class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-12" asp-for=PasswordConfirm></label>
                            <div class="col-md-10">
                                <input type="password" asp-for=PasswordConfirm class="form-control" />
                                <span asp-validation-for=PasswordConfirm class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
}
@*
<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
*@