@model Account.Features.Account.ForgotPassword.ForgotPasswordViewModel
@if (Model.Succeeded.HasValue)
{
    if (Model.Succeeded.Value)
    {
        <div class="container">
            <h1 class="text-center pt-4 pb-2">Reset Link Sent</h1>
            <p>And email was sent to this address with the password reset link, please click this link and follow the instructions to reset your password.</p>
        </div>
    }
    else
    {
        <div class="container">
            <h1 class="text-center pt-4 pb-2">Error</h1>
            <p>An error occurred while resetting: @Model.Error</p>
        </div>
    }
}
else
{
    <form asp-controller="ForgotPassword" asp-action="ForgotPassword" method="POST" asp-antiforgery="true">
        <div class="container">
            <page-data-context initialized="false">
                <h1 class="text-center pt-4 pb-2">Forgotten Password</h1>
                <p>Enter the email address of the account and a password reset email will be sent if the account is found.</p>
            </page-data-context>
            <page-data-context initialized="true">
                <page-data />
                <editable-area area-identifier="main" />
            </page-data-context>
            <div class="form-horizontal">
                <div asp-validation-summary="All" class="alert alert-danger text-danger col-12" role="alert"></div>
                <div class="form-group">
                    <label class="control-label col-md-2" asp-for=EmailAddress></label>
                    <div class="col-md-12">
                        <input type="text" asp-for=EmailAddress class="form-control" />
                        <span asp-validation-for=EmailAddress class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Request Password Reset" class="btn btn-primary btn-theme" />
                    </div>
                </div>
            </div>
        </div>
    </form>

}
